<%= render 'layouts/navbar' %>

<div class="main">

  <!--    createpost-->
  <div class="create-post-container">
      <%= render "form", article: @articleCreatePostForm %>
  </div>
  <!--create post end-->

  <!--  POST LOOP START-->

  <% @articles.each do |article| %>
    <%# unless article.archived?  %>
    <% if current_user.has_role? :admin || article.status == 'private' || article.status == 'public'  %>
    <div class="post1">
      <div class="post1-heading-dropdown">
        <div ><h3>
          <%= article.user.firstname %> <%= article.user.lastname %>
        </h3></div>

        <div class="">

          <div class="dropdown">
<!--            <button class="dropbtn">Dropdown</button>-->
            <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
            <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
            <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
            <div class="dropdown-content">
              <%= link_to "Edit", edit_article_path(article) %>
              <%= link_to "Destroy", article_path(article), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>

            </div>
          </div>



        </div>

      </div>

      <div class="align-text-right custom-text-styles"><strong><%= time_ago_in_words(article.created_at)
      %>  ago.  <%= article.status %> </strong></div>
      <div class="align-text-right" ><p class="post-content"><%= link_to article.body, article %></p>
      </div>
      <div class="likes-comments-container align-text-right">
        <div class="likes-comments-count">
          <div class="custom-text-styles">2 likes</div>
          <div class="custom-text-styles">  <%= article.comments.size %> comments</div>

        </div>
        <hr size="1" width="100%" color="lightgrey">
        <div class="likes-comments">
          <div><%= image_tag('like.png') %></div>
          <div class="custom-text-styles">Like</div>
          <div><%= image_tag('comment.png') %></div>
          <div class="custom-text-styles"><%= link_to "Comment", article %></div>
        </div>
        <hr size="1" width="100%" color="lightgrey">

        <div>
          <% @article=article %>
          <%= render 'comments/form' %>


<!--          <div> <%#= image_tag('send (1).png') %></div>-->
        </div>
      </div>

      <!--COMMENTS START-->
<!--      <div class="align-text-right custom-text-styles ">-->
        <%= article.comments.order("created_at DESC").first&.body %>
<!--        <h2>Comments</h2>-->
        <!--  comment1-->
<!--        <hr size="1" width="100%" color="lightgrey">-->
<!--        <div class="style-comments-view">-->
          <%#= article.comments.order("created_at DESC").first&.body %>
<!--          <div class="align-text-right custom-text-styles">-->
            <%#= article.comments.order("created_at DESC").first&.body %>


<!--          </div>-->
<!--          <div class=" comments-page-likes-time">-->
<!--            <div><%#= image_tag('redlike.png') %></div>-->
<!--            <div class="custom-text-styles">2h</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr size="1" width="100%" color="lightgrey">-->
<!--      </div>-->
      <!--COMMENTS END-->


    </div>

      <% else if current_user.id == article.user_id || article.status == 'public'  %>
        <div class="post1">
          <div class="post1-heading-dropdown">
            <div ><h3>
              <%= article.user.firstname %> <%= article.user.lastname %>

            </h3></div>

            <div class="">

              <div class="dropdown">
                <!--            <button class="dropbtn">Dropdown</button>-->
                <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
                <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
                <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
                <div class="dropdown-content">
                  <%= link_to "Edit", edit_article_path(article) %>
                  <%= link_to "Destroy", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

                </div>
              </div>



            </div>

          </div>

          <div class="align-text-right custom-text-styles"><strong><%= time_ago_in_words(article.created_at)
          %>  ago.  <%= article.status %> </strong></div>
          <div class="align-text-right" ><p class="post-content"><%= link_to article.body, article %></p>
          </div>
          <div class="likes-comments-container align-text-right">
            <div class="likes-comments-count">
              <div class="custom-text-styles">2 likes</div>
              <div class="custom-text-styles">  <%= article.comments.size %> comments</div>

            </div>
            <hr size="1" width="100%" color="lightgrey">
            <div class="likes-comments">
              <div><%= image_tag('like.png') %></div>
              <div class="custom-text-styles">Like</div>
              <div><%= image_tag('comment.png') %></div>
              <div class="custom-text-styles"><%= link_to "Comment", article %></div>
            </div>
            <hr size="1" width="100%" color="lightgrey">

            <div>
              <% @article=article %>
              <%= render 'comments/form' %>


              <!--          <div> <%#= image_tag('send (1).png') %></div>-->
            </div>
          </div>

          <!--COMMENTS START-->
<!--          <div class="align-text-right custom-text-styles ">-->
            <!--        <h2>Comments</h2>-->
            <!--  comment1-->
<!--            <hr size="1" width="100%" color="lightgrey">-->
<!--            <div class="style-comments-view">-->

<!--              <div class="align-text-right custom-text-styles">-->
          <div class="index-comment-color"><%= article.comments.order("created_at DESC").first&.body %></div>



<!--              </div>-->
              <!--          <div class=" comments-page-likes-time">-->
              <!--            <div><%#= image_tag('redlike.png') %></div>-->
              <!--            <div class="custom-text-styles">2h</div>-->
              <!--          </div>-->
<!--            </div>-->
<!--            <hr size="1" width="100%" color="lightgrey">-->
<!--          </div>-->
          <!--COMMENTS END-->


        </div>
      <% end %>
      <% end %>
  <% end %>
  <!--  POST LOOP END-->


</div>


<!--left side navbar start-->
<div class="leftside-navbar">
  <div><button  type="button" class="btn btn-outline-primary btn-lg  bootstrap-button" style=" border: none;"><%= image_tag('feed.1.png') %>&nbsp;&nbsp; <span>Feed</span></button></div>
  <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button" style=" border: none;"><%= image_tag('profile.png') %>&nbsp;&nbsp; <span><a href="http://localhost:3000/users/edit">Profile</a></span></button></div>
  <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button" style=" border: none;"><%= image_tag('manageUser.png') %>&nbsp;&nbsp; <span>Manage Users</span></button></div>
  <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button" style=" border: none;"><%= image_tag('logout.png') %>&nbsp;&nbsp; <span><%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete%></span></button></div>
</div>

<!--left side navbar end-->


<!--right side navbar start-->

<div class="rightside-navbar">
  <div class="users-list-threedots">
    <div>Users List</div>
    <div><strong>...</strong></div>
  </div>
  <% @articles.each do |article| %>
  <div class="rightside-Users">
    <div> <%= image_tag('Vector.jpg') %> </div>

     <div>
       <%= article.user.firstname %>
       <%= article.user.lastname %>
     </div>

  </div>
<% end %>
</div>

<!--right side navbar end-->





