<%= render 'layouts/navbar' %>

<!--  main-->
<div class="main">
  <!--    posts-->
  <div class="post1">
    <div class="post1-heading-dropdown">
      <div>
                <h2><%= @article.user.firstname %> <%= @article.user.lastname %></h2>

      </div>
      <div>
        <div class="dropdown">
          <!--            <button class="dropbtn">Dropdown</button>-->
          <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
          <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
          <div class="dropbtn"><%= image_tag('Ellipse 4.png') %></div>
          <div class="dropdown-content">
            <%= link_to "Edit", edit_article_path(@article) %>
            <%= link_to "Destroy", article_path(@article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>

          </div>
        </div>


      </div>

    </div>

    <div class="align-text-right custom-text-styles"><%= time_ago_in_words(@article.created_at) %>&nbsp; ago. &nbsp;  <%= @article.status %>
    </div>
    <div class="align-text-right">
      <p class="post-content">
<!--      <h1><%#= @article.title %></h1>-->
      <p><%= @article.body %></p> </p>

    </div>
    <div class="likes-comments-container align-text-right">
      <div class="likes-comments-count">
        <div class="custom-text-styles"><%= @article.likes.count %> likes</div>
        <div class="custom-text-styles"> <%= @article.comments.size %> comments</div>

      </div>
      <hr size="1" width="100%" color="lightgrey">
      <div class="likes-comments">
        <div><%= image_tag('like.png') %></div>
        <div class="custom-text-styles">Like
        </div>
        <div><%= image_tag('comment.png') %></div>
        <div class="custom-text-styles">Comment</div>
      </div>
      <hr size="1" width="100%" color="lightgrey">

      <div class="comment-input-box-sendbutton">
        <%= render 'comments/form' %>


      </div>



    </div>
    <!--post end-->

    <!--    comments start-->
<!--    <div class="align-text-right custom-text-styles ">-->
<!--      <h2>Comments</h2>-->
      <!--  comment1-->
<!--      <hr size="1" width="100%" color="lightgrey">-->
<!--      <div class="style-comments-view-showPage">-->
<!--        <div class="align-text-right custom-text-styles">-->

  <%#= render @article.comments.select(&:persisted?) %>

<!--        </div>-->

<!--        <div class=" comments-page-likes-time">-->

<!--          <div><%#= image_tag('redlike.png') %></div>-->
<!--          <div class="custom-text-styles">2h</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr size="1" width="100%" color="lightgrey">-->
<!--    </div>-->
    <%= render @article.comments.select(&:persisted?) %>

  </div>
  <!--  post end-->
<!--Comments-->




</div>







<%#= render @article.comments.order('created_at DESC') %>













