<!--navbar-->
<div class="header">
  <div class="header1" style=" width: 150px;display: flex;justify-content: space-around;align-items: center;margin: 25px;">
    <div class="">
      <%=image_tag('Vector.jpg')%>
    </div>
    <div class="header-text">
      <a href="http://localhost:3000/">Maze</a>
    </div>
  </div>
  <div class="header2">
    <form class="header-search" action="">

      <%= image_tag('User Management.png') %>

    </form>
  </div>
  <div class="profilePic-firstname">
    <div class="profile-pic"><%= image_tag('dhawal.jpg') %></div> &nbsp;
    <div style="">
      <div> <span style="color: #606165;"><%= current_user.firstname %> <%= current_user.lastname %></span></div>
      <% if current_user.has_role? :admin %>
        <span style="font-family: 'Montserrat';color: rgba(96, 97, 101, 0.6);">Admin</span>
      <% end %>
    </div>



  </div>


</div>
<!--navbar end-->


<div class="main" style="justify-content: center; height: 342px;border-radius: 7.39459px; width: 801px;" >

<!--  <h3> Import User Data </h3>-->

  <%#=form_tag import_users_path, multipart: true do %>

  <%#=file_field_tag :file%>

  <%#=submit_tag %>

  <%#end%>


  <%=form_with  url: import_users_path,  method:'post'  do |form| %>


    <div style="display: flex">
  <div> <%=form.file_field :file%></div>
  <div class="uploading-button"><%=form.button "Upload" %></div>
    </div>

  <%end%>

</div>





<div class="leftside-navbar">
  <a href="http://localhost:3000/"><div><button  type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-feed" style=" border: none;"><%= image_tag('feed.1.png') %>&nbsp;&nbsp; <span>Feed</span></button></div></a>

  <div>
    <a href="http://localhost:3000/users/edit">    <button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-profile" style=" border: none;"><%= image_tag('profile.png') %>&nbsp;&nbsp; <span>Profile</span></button></a>
  </div>
  <% if current_user.has_role? :admin %>
    <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-manageuser" style=" border: none;"><%= image_tag('manageUser.png') %>&nbsp; &nbsp;<span><a href="http://localhost:3000/users">Manage Users</a></span></button></div>
  <% end %>
  <div class="logooout"><span><%= image_tag('logout.png') %></span><%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete, class:"btn btn-outline-primary bootstrap-logout"%></div>
</div>




<%#=flash[:notice]%>

<!--<table>-->

<!--  <thead>-->

<!--  <th>firstname</th>-->

<!--  <th>lastname</th>-->

<!--  <th>email</th>-->

<!--  <th>phone</th>-->

<!--  <th>password</th>-->

<!--  </thead>-->

<!--  <tbody>-->

  <%#@users.each do |user|%>

<!--    <tr>-->

<!--      <td><%#=user.firstname %></td>-->

<!--      <td><%#=user.lastname%></td>-->

<!--      <td><%#=user.email%></td>-->

<!--      <td><%#=user.phone%></td>-->

<!--      <td><%#=user.password%></td>-->

<!--    </tr>-->

  <%#end%>

<!--  </tbody>-->

<!--</table>-->