<!--navbar-->
<div class="header">
  <div class="header1" style=" width: 150px;display: flex;justify-content: space-around;align-items: center;margin: 25px;">
    <div class="">
      <%=image_tag('Vector.jpg')%>
    </div>
    <div class="header-text">
      <a href="http://localhost:3000/">Maze</a>
    </div>
  </div>
  <div class="header2">
    <form class="header-search" action="">

      <%= image_tag('User Management.png') %>

    </form>
  </div>
  <div class="profilePic-firstname">
    <div class="profile-pic"><%= image_tag('dhawal.jpg') %></div> &nbsp;
    <div style="">
      <div> <span style="color: #606165;"><%= current_user.firstname %> <%= current_user.lastname %></span></div>
      <% if current_user.has_role? :admin %>
        <span style="font-family: 'Montserrat';color: rgba(96, 97, 101, 0.6);">Admin</span>
      <% end %>
    </div>



  </div>


</div>
<!--navbar end-->


<div class="main"  style="padding-top: 30px">
  <div style="display: flex; width: 1008px; justify-content: space-between; align-items: center;margin-bottom: 10px;">
    <div><%= image_tag('List of Users.png') %></div>
    <div><button  type="button" class="btn btn-primary  " style=" border-radius: 25px"><%= image_tag('u.png') %>&nbsp;&nbsp; <span><%= image_tag('Create User.png') %></span></button></div>
  </div>
  <% @users.each do |user| %>

    <div class="User-Managment-Details">
      <div><%= image_tag('Vector.jpg') %></div>
      <div style="font-family: 'Montserrat';font-weight: 600;font-size: 18px;color: #606165;width: 200px;"><%= user.firstname %> &nbsp; <%= user.lastname %></div>
      <div style="font-weight: 600;font-size: 14px;color: #9FA0A3;"><%= user.phone %></div>
      <div style="font-weight: 500;font-size: 14px;color: #9FA0A3; width: 200px"><%= user.email %></div>
      <div><% if user.access_locked? %>
          <div class="activate-button"><%= button_to 'Activate', ban_user_path(user), :method=> :patch %></div>
    <% else %>
          <div class="deactivate-button"><%= button_to 'Deactivate', ban_user_path(user), :method=> :patch %></div>
        <% end %></div>
<!--      <div><strong style="color: rgba(96, 97, 101, 0.6);">...</strong></div>-->
    </div>

  <% end %>
</div>






<div class="leftside-navbar">
  <div><button  type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-feed" style=" border: none;"><%= image_tag('feed.1.png') %>&nbsp;&nbsp; <span>Feed</span></button></div>
  <div>
    <a href="http://localhost:3000/users/edit">    <button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-profile" style=" border: none;"><%= image_tag('profile.png') %>&nbsp;&nbsp; <span>Profile</span></button></a>
  </div>
  <% if current_user.has_role? :admin %>
    <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-manageuser" style=" border: none;"><%= image_tag('manageUser.png') %>&nbsp; &nbsp;<span><a href="http://localhost:3000/users">Manage Users</a></span></button></div>
  <% end %>
  <div class="logooout"><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button" style=" border: none;"><%= image_tag('logout.png') %><span><%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete%></span></button></div>
</div>