<!--navbar-->
<div class="header">
  <div class="header1" style=" width: 150px;display: flex;justify-content: space-around;align-items: center;margin: 25px;">
    <div class="">
      <%=image_tag('Vector.jpg')%>
    </div>
    <div class="header-text">
      <a href="http://localhost:3000/">Maze</a>
    </div>
  </div>
  <div class="header2">
    <form class="header-search" action="">

      <%= image_tag('User Management.png') %>

    </form>
  </div>
  <div class="profilePic-firstname">
    <div class="profile-pic"><%= image_tag('dhawal.jpg') %></div> &nbsp;
    <div style="">
      <div> <span style="color: #606165;"><%= current_user.firstname %> <%= current_user.lastname %></span></div>
      <% if current_user.has_role? :admin %>
        <span style="font-family: 'Montserrat';color: rgba(96, 97, 101, 0.6);">Admin</span>
      <% end %>
    </div>



  </div>


</div>
<!--navbar end-->


<!--Create user start-->
<div class="main" style="align-items: flex-start">


<div style="margin: 39px 0 0 40px;"><%= image_tag('Add Users.png') %></div>




  <%= form_with url:user_user_create_path,model: @users do |form| %>

    <div class="create-user-firstname-lastname">
      <%= form.text_field :firstname, placeholder: "Firstname" %>
      <%= form.text_field :lastname, placeholder: "Lastname" %>
    </div>

    <div class="create-user-email-phone">
      <%= form.text_field :email, placeholder: "Email" %>
      <%= form.text_field :phone, placeholder: "Phone" %>
    </div>

    <div class="create-user-password">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= form.password_field :password, autocomplete: "new-password", placeholder:"Password" %>
    </div>

    <div style="margin: 39px 0 0 39px;"><%= image_tag('Assign Role.png') %></div>

    <div class="create-user-role">
      <%= form.collection_check_boxes :role_ids, Role.all, :id, :name  %>
    </div>


    <%= form.submit  "Create User", class:"create-user-button-newpage" %>


    <% end %>






</div>
<!--Create user end-->




<div class="leftside-navbar">
  <a href="http://localhost:3000/"><div><button  type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-feed" style=" border: none;"><%= image_tag('feed.1.png') %>&nbsp;&nbsp; <span>Feed</span></button></div></a>
  <div>
    <a href="http://localhost:3000/users/edit">    <button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-profile" style=" border: none;"><%= image_tag('profile.png') %>&nbsp;&nbsp; <span>Profile</span></button></a>
  </div>
  <% if current_user.has_role? :admin %>
    <div><button type="button" class="btn btn-outline-primary btn-lg  bootstrap-button bootstrap-button-manageuser" style=" border: none;"><%= image_tag('manageUser.png') %>&nbsp; &nbsp;<span><a href="http://localhost:3000/users">Manage Users</a></span></button></div>
  <% end %>
<!--  <div class="logooout"><span><%#= image_tag('logout.png') %></span><%#= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete, class:"btn btn-outline-primary bootstrap-logout"%></div>-->
</div>







